
th.ui-state-default
{
	background: #015AA4 url("/Unipam.CartaoDiplomado.Web/javax.faces.resource/images/ui-bg_highlight-soft_100_ffffff_1x100.png.jsf?ln=primefaces-aristo") 50% 50% repeat-x !important;
	background: #015AA4 linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0)) !important;
	background: #015AA4 -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), to(rgba(255,255,255,0)))!important;
	background: #015AA4 -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0))!important;
	color: #fff !important;
	font-weight: bold !important;
	text-shadow: 0px 0px 0px rgba(255,255,255,0.7) !important;
	white-space:normal;
}


.ui-panel .ui-panel-title{
	 color: white;
	 font-family: Arial, Helvetica, sans-serif;
	 text-shadow: 0px 0px 0px rgba(255,255,255,0.7);
}

.ui-dialog .ui-dialog-title{
	 color: white;
	 font-family: Arial, Helvetica, sans-serif;
	 text-shadow: 0px 0px 0px rgba(255,255,255,0.7);
}

.ui-panel-titlebar{
	border: 1px solid #015AA4 !important;
	background: #015AA4 url("/Unipam.CartaoDiplomado.Web/javax.faces.resource/images/ui-bg_highlight-soft_100_ffffff_1x100.png.jsf?ln=primefaces-aristo") 50% 50% repeat-x !important;
	background: #015AA4 linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0)) !important;
	background: #015AA4 -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), to(rgba(255,255,255,0))) !important;
	background: #015AA4 -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0)) !important;
	color: #fff !important;
	font-weight: bold !important;
	text-shadow: 0px 1px 0px rgba(255,255,255,0.7) !important;
}

.ui-accordion-header {
	border: 1px solid #7096ab !important;
	background: #015AA4 url("/Unipam.CartaoDiplomado.Web/javax.faces.resource/images/ui-bg_highlight-hard_80_ffffff_1x100.png.jsf?ln=primefaces-aristo") 50% 50% repeat-x !important;
	background: #015AA4 linear-gradient(top, rgba(255,255,255,0.6), rgba(255,255,255,0)) !important;
	background: #015AA4 -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.6)), to(rgba(255,255,255,0))) !important;
	background: #015AA4 -moz-linear-gradient(top, rgba(255,255,255,0.6), rgba(255,255,255,0)) !important;
	font-weight: bold !important;
	-moz-box-shadow: 0 0 5px #85b2cb !important;
	-webkit-box-shadow: 0px 0px 8px #85b2cb !important;
	box-shadow: 0px 0px 8px #85b2cb !important;
}

.ui-accordion-header a {
	color: #fff !important;
	text-shadow: 0px 0px 0px rgba(255,255,255,0) !important;
}


.ui-tabs-nav.ui-state-default {
	border: 1px solid #a8a8a8 !important;
	background: #015AA4 url("/Unipam.CartaoDiplomado.Web/javax.faces.resource/images/ui-bg_highlight-hard_80_ffffff_1x100.png.jsf?ln=primefaces-aristo") 50% 50% repeat-x !important;
	background: #015AA4 linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0)) !important;
	background: #015AA4 -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0))) !important;
	background: #015AA4 -moz-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0)) !important;
	font-weight: bold !important;
	color: #4f4f4f !important;
	text-shadow: 0px 1px 0px rgba(255,255,255,0.7) !important;
}

li.ui-state-hover {
	border: 1px solid #7096ab !important;
	background: #015AA4 url("/Unipam.CartaoDiplomado.Web/javax.faces.resource/images/ui-bg_highlight-hard_80_015AA4_1x100.png.jsf?ln=primefaces-aristo") 50% 50% repeat-x !important;
	background: #015AA4 linear-gradient(top, rgba(255,255,255,0.6), rgba(255,255,255,0)) !important;
	background: #015AA4 -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.6)), to(rgba(255,255,255,0))) !important;
	background: #015AA4 -moz-linear-gradient(top, rgba(255,255,255,0.6), rgba(255,255,255,0)) !important;
	color: #fff !important;
	-moz-box-shadow: 0 0 5px #85b2cb !important;
	-webkit-box-shadow: 0px 0px 8px #85b2cb !important;
	box-shadow: 0px 0px 8px #85b2cb !important;
}

li.ui-state-hover a{
	color: #fff !important;
	text-shadow: 0px 0px 0px rgba(255,255,255,0.7) !important;
}

.ui-dialog .ui-dialog-titlebar{
	border: 1px solid #a8a8a8 !important;
	background: #015AA4 url("/Unipam.CartaoDiplomado.Web/javax.faces.resource/images/ui-bg_highlight-soft_100_c4c4c4_1x100.png.jsf?ln=primefaces-aristo") 50% 50% repeat-x !important;
	background: #015AA4 linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0)) !important;
	background: #015AA4 -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), to(rgba(255,255,255,0))) !important;
	background: #015AA4 -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0)) !important;
	color: #fff !important;
	font-weight: bold !important;
	text-shadow: 0px 0px 0px rgba(255,255,255,0.7) !important;
}

.ui-menuitem a{
	color: #015AA4 !important;
}

.ui-fieldset-legend{
	border: 1px solid rgb(168, 168, 168);
	background: #015AA4 -moz-linear-gradient(center top , rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0))!important;
	font-weight: bold;
	color: #fff !important;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
}

